# Ignore list for KiCAD Projects
# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
# Netlist files (exported from Eeschema)
*.net
# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

#LaTeX build files
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.toc
*.synctex.gz
*.pdf
*.aux
AlarmPCB/AlarmPCB-B_Cu.gbr

AlarmPCB/AlarmPCB-B_Mask.gbr

AlarmPCB/AlarmPCB-B_SilkS.gbr

AlarmPCB/AlarmPCB-Edge_Cuts.gbr

AlarmPCB/AlarmPCB-F_Cu.gbr

AlarmPCB/AlarmPCB-F_Mask.gbr

AlarmPCB/AlarmPCB-F_SilkS.gbr

AlarmPCB/AlarmPCB-job.gbrjob

AlarmPCB/AlarmPCB-NPTH.drl

AlarmPCB/AlarmPCB-PTH.drl

AlarmPCB/AlarmPCB.zip
